$navbar-height: 96px;
// Colors
$primary-color: #fff;
$secondary-color: rgba(51, 51, 51, 0.7);
$borderC: #eee;
$navC: #333;
$footBckg: #1A1A1A;
$footCopy: #D9DBE1;
$servBlockBckg: #F4F6FA;
$siteBckg: #F4F4F4;
$inputBckg: rgba(71, 98, 255, 0.08);
$inputC: #979797;
// Responsive
$mobile-width: 768px;
$tablet-width: 1024px;
$sm-screen-width: 600px;
$md-screen-width: 900px;
$lg-screen-width: 1200px;
$xl-screen-width: 1536px;
// fonts
$font-Inter: "Inter-Regular";
$font-Inter-Bold: "Inter-Bold";
$font-Inter-ExtraBold: "Inter-ExtraBold";
$font-Inter-Thin: "Inter-Thin";
